@model Turnos.Models.Especialidad

<h4>Especialidad</h4>
<div>
    <form asp-action="Edit">
        <!-- Esta etiqueta sirve par validar todos nuestros elementos html que tengamos
        en nmuestro formulario, con esto podremos validar si nos colocan algun valor 
        vacio en los inputs del formulario -->
        <div asp-validation-summary="ModelOnly"></div>
        <!--En este input se tiene cargado el id -->
        <input type="hidden" asp-for="IdEspecialidad" />
        <div>
            <label asp-for="Descripcion"></label>
            <!--En este input se tendra la descripcion--->
            <input asp-for="Descripcion"/>
            <span asp-validation-for="Descripcion"></span>
        </div>
        <div>
            <input type="submit" value="Guardar">
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>
