@model Turnos.Models.Paciente

<h4>Paciente</h4>
<div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="IdPaciente" />

        <!--Nombre--->
        <div>
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" />
            <span asp-validation-for="Nombre"></span>
        </div>

        <!--Apellido--->
        <div>
            <label asp-for="Apellido"></label>
            <input asp-for="Apellido" />
            <span asp-validation-for="Apellido"></span>
        </div>

        <!--Direccion--->
        <div>
            <label asp-for="Direccion"></label>
            <input asp-for="Direccion" />
            <span asp-validation-for="Direccion"></span>
        </div>

        <!--Telefono--->
        <div>
            <label asp-for="Telefono"></label>
            <input asp-for="Telefono" />
            <span asp-validation-for="Telefono"></span>
        </div>

        <!--Direccion--->
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <input type="submit" value="Guardar" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Voler</a>
</div>